[submodule "references/ui-component-libs/tabler"]
	path = references/ui-component-libs/tabler
	url = https://github.com/tabler/tabler
[submodule "references/ui-component-libs/gentelella"]
	path = references/ui-component-libs/gentelella
	url = https://github.com/ColorlibHQ/gentelella
[submodule "references/presentation-frameworks/beautiful-html-templates"]
	path = references/presentation-frameworks/beautiful-html-templates
	url = https://github.com/zarazhangrui/beautiful-html-templates.git
[submodule "references/presentation-frameworks/frontend-slides"]
	path = references/presentation-frameworks/frontend-slides
	url = https://github.com/zarazhangrui/frontend-slides.git
[submodule "references/presentation-frameworks/html-ppt-skill"]
	path = references/presentation-frameworks/html-ppt-skill
	url = https://github.com/lewislulu/html-ppt-skill.git
[submodule "references/design-inspiration/web-design"]
	path = references/design-inspiration/web-design
	url = https://github.com/xiaopu-ai/web-design
[submodule "references/design-inspiration/open-design"]
	path = references/design-inspiration/open-design
	url = https://github.com/nexu-io/open-design
[submodule "references/claude-design-galleries/awesome-claude-design-rohitg00"]
	path = references/claude-design-galleries/awesome-claude-design-rohitg00
	url = https://github.com/rohitg00/awesome-claude-design
[submodule "references/claude-design-galleries/awesome-claude-design-voltagent"]
	path = references/claude-design-galleries/awesome-claude-design-voltagent
	url = https://github.com/VoltAgent/awesome-claude-design
[submodule "references/doc-visualization-tools/PowerDocu"]
	path = references/doc-visualization-tools/PowerDocu
	url = https://github.com/modery/PowerDocu
[submodule "references/doc-visualization-tools/visual-explainer"]
	path = references/doc-visualization-tools/visual-explainer
	url = https://github.com/nicobailon/visual-explainer
[submodule "references/icon-libraries/simple-icons"]
	path = references/icon-libraries/simple-icons
	url = https://github.com/simple-icons/simple-icons.git
[submodule "references/icon-libraries/tabler-icons"]
	path = references/icon-libraries/tabler-icons
	url = https://github.com/tabler/tabler-icons.git
[submodule "references/doc-visualization-tools/pypdfium2"]
	path = references/doc-visualization-tools/pypdfium2
	url = https://github.com/pypdfium2-team/pypdfium2.git
[submodule "references/claude-design-galleries/ui-ux-pro-max-skill"]
	path = references/claude-design-galleries/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
[submodule "references/ui-component-libs/flat-ui"]
	path = references/ui-component-libs/flat-ui
	url = https://github.com/designmodo/Flat-UI
[submodule "references/design-inspiration/design-resources-for-developers"]
	path = references/design-inspiration/design-resources-for-developers
	url = https://github.com/bradtraversy/design-resources-for-developers
